* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* variables */

  /* colors */
  --primary: #dee7e7;
  --co-one: #f8f7ff;
  --co-two: #242433;
}

body {
  /* background: var(--primary); */
  background: url(/images/win.png) center/cover no-repeat;
  /* border: dashed 3px rgb(255, 217, 0); */
  height: 100vh;
}
.left,
.right {
  background: url(/images/wheel.png) center/cover no-repeat;
  width: 20vw;
  height: 100vh;
  position: absolute;
  top: 0;
  /* border: dashed 3px rgb(255, 217, 0); */
}
.left {
  left: 0;
}
.right {
  right: 0;
}

/* header */
#header {
  /* border: solid 3px #4f646f; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em auto;
  width: 50vw;
  height: 4em;
}

/* title */
#title {
  /* add a gradient for the color */

  background: linear-gradient(black 50%, orange 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Lobster, sans-serif;
  font-size: 5rem;
}
/* main-content */
#main-content {
  /* border: solid 3px #4f646f; */
  /* background: var(--co-one); */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 65vh;
  margin: auto;
  /* border: dashed 3px rgb(255, 217, 0); */
}

/* sub-header */
.sub-header {
  color: white;
}

/* para-text */
.para-text {
  color: white;
  width: 50%;
  margin: 1em;
  padding: 5px;
  font-size: 1.5rem;
}

/* btn */
.btn {
  color: black;
  font-size: 15px;
  font-weight: 500;
  height: 5em;
  width: 10em;
  border-radius: 50%;
}

/* span */
.span-one {
  text-decoration: underline;
  font-weight: 500;
}
