* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* variables */

  /* colors */
  /* --primary: #dee7e7;
  --co-one: #f8f7ff;
  --co-two: #242433; */
}

body {
  background: url(/images/win.png) center/cover no-repeat;
}

/* side images */
.left,
.right {
  background: url(/images/wheel.png) center/cover no-repeat;
  width: 20vw;
  height: 100vh;
  position: absolute;
  top: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

/* header */
#header {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em auto;
  width: 50vw;
  height: 4em;
}

/* title */
#title {
  background: linear-gradient(black 50%, orange 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Lobster, sans-serif;
  font-size: 5rem;
}
/* main-content */
#main-content {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 65vh;
  margin: auto;
}

/* sub-header */
.sub-header {
  color: white;
}

/* para-text */
.para-text {
  color: white;
  width: 50%;
  margin: 1em;
  padding: 5px;
  font-size: 1.5rem;
}

/* btn */
.btn {
  color: black;
  font-size: 15px;
  font-weight: 500;
  height: 5em;
  width: 10em;
  border-radius: 50%;
}

/* span */
.span-one {
  text-decoration: underline;
  font-weight: 500;
}

/* div wrapper */
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* images for questions */
.image {
  height: 350px;
  width: 500px;
  /* margin: 2em; */
  margin-top: 3em;
  margin-bottom: 2em;
}

/* question text */
.question {
  color: white;
  margin-bottom: 1em;
}

/* question button */
.question-btn {
  color: black;
  height: 3em;
  width: 6em;
  border-radius: 5px;
  margin: 1em;
}
